<ion-view title="Pit Scouting" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="pitScouting-form2" class="list">
      <label class="item item-select" id="pitScouting-select1">
        <span class="input-label">Team number</span>
        <select>
          <option>[None]</option>
          <option>3489 - Category 5</option>
          <option>342 - Burning Magnetos</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select2">
        <span class="input-label">Primary Objective</span>
        <select>
          <option>[None]</option>
          <option>Fuel</option>
          <option>Gears</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select3">
        <span class="input-label">Secondary Objective</span>
        <select>
          <option>[None]</option>
          <option>Fuel</option>
          <option>Gear</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select4">
        <span class="input-label">Able to climb rope?</span>
        <select>
          <option>[None]</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select5">
        <span class="input-label">If so, does it stay up?</span>
        <select>
          <option>[None]</option>
          <option>Not able to climb</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select6">
        <span class="input-label">If so, do you use your own rope?</span>
        <select>
          <option>{None)</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select7">
        <span class="input-label">Does your robot place Gears?</span>
        <select>
          <option>{None)</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select8">
        <span class="input-label">How does your robot pick up fuel?</span>
        <select>
          <option>Hopper</option>
          <option>Floor</option>
          <option>Human Player</option>
          <option>Cant</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select9">
        <span class="input-label">Where can you put your human players?</span>
        <select>
          <option>Airship</option>
          <option>Feeder Station</option>
          <option>Overflow</option>
          <option>Runner</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select10">
        <span class="input-label">Do you have autonomous?</span>
        <select>
          <option>yes</option>
          <option>no</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select11">
        <span class="input-label">Where do you score from in autonomous?</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox3">shoot into boiler</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox2">place gear</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox1">move forward</ion-checkbox>
      <label class="item item-select" id="pitScouting-select12">
        <span class="input-label">Where can you pick up gears?</span>
        <select>
          <option>Feeding station</option>
          <option>Ground</option>
          <option>Neither</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select13">
        <span class="input-label">Where can you pick up fuel?</span>
        <select>
          <option>Feeding Station</option>
          <option>Ground</option>
          <option>Neither</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select14">
        <span class="input-label">How is your team willing to play?</span>
        <select>
          <option>Deffense</option>
          <option>Offense</option>
          <option>Both</option>
        </select>
      </label>
      <label class="item item-input" id="pitScouting-textarea4">
        <span class="input-label">What are your weaknesses?</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="pitScouting-textarea1">
        <span class="input-label">What are your strengths?</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="pitScouting-textarea3">
        <span class="input-label">On a scale of 1 to 10 what is your robots maneuverability?</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="pitScouting-range1">Range
        <input type="range" value="5" min="0" max="10" step="1">
      </ion-item>
      <label class="item item-input" id="pitScouting-input4">
        <span class="input-label">How many feet per second can your robot travel?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input5">
        <span class="input-label">How many years has your manipulator been manipulating your robot?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input6">
        <span class="input-label">How many years has your driver been driving?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="pitScouting-input7">
        <span class="input-label">How quickly can you do a full cycle?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="pitScouting-select15">
        <span class="input-label">Fuel firing?</span>
        <select></select>
      </label>
      <ion-checkbox id="pitScouting-checkbox4">High</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox5">Low</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox6">Single</ion-checkbox>
      <ion-checkbox id="pitScouting-checkbox7">Multi</ion-checkbox>
      <label class="item item-input" id="pitScouting-textarea10">
        <span class="input-label">What drivetrain do you have?</span><textarea placeholder=""></textarea></label>
      <label class="item item-select" id="pitScouting-select18">
        <span class="input-label">What position does your team start at?</span>
        <select>
          <option>Position Left</option>
          <option>Position Middle</option>
          <option>Position Right</option>
        </select>
      </label>
      <label class="item item-select" id="pitScouting-select19">
        <span class="input-label">How expereienced is your Drive Team? (How many years of Drive team do they have)?</span>
        <select></select>
      </label>
      <ion-item class="range range-positive" id="pitScouting-range2">Range
        <input type="range" value="2" min="0" max="4" step="1">
      </ion-item>
      <label class="item item-input" id="pitScouting-textarea11">
        <span class="input-label">What type of shooter does your robot have?</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>