<ion-view title="Settings" id="page7">
  <ion-content padding="true" class="has-header">
    <button id="settings-button10" class="button button-positive  button-block">Import Data</button>
    <button id="settings-button11" class="button button-positive  button-block">Export Data</button>
    <form id="settings-form15" class="list">
      <label class="item item-input" id="settings-input35">
        <span class="input-label">Firebase config #1</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="settings-input39">
        <span class="input-label">Firebase config #2</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="settings-input40">
        <span class="input-label">Firebase config #3</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>